# which files to ignore
*.m~
clearws.m
obsandsyn.m
opt_val.txt
flowcharts.md
GUI_with_GUIDE.md
*.mex*
*.asv
*.log
*.zip
*.gz
*.pdf
*.csv
*.mat
*.svg
.DS_Store
# which folders to ignore
/results/
/input/
/robustness/
/test/
